 .upload-area {
    border: 1px dashed #000000;
    border-radius: 5px;
    height: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.upload-area img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    background-color: transparent;
    color: black;
    transform: translate(-50%, -50%);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 60px;
    line-height: 1;
    cursor: pointer;
    display: none;
   
}

.form-control {
    margin-bottom: 15px;
}


.card {
    box-shadow: 4px 4px 25px 0px #00000040;
}