.bg-image {
    background-image: url('/img/background/cinnamon4.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7); 
    background-blend-mode: darken;
    
} 

@media (max-width: 767px) {
    .no-border-small {
      border: none !important;
  }
  }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out;
}

